.button {
	-fx-cursor: hand;
}

.combo-box-popup .list-view {
    -fx-font-size : 18pt;
}

.choice-box .context-menu { 
	-fx-font-size : 18pt;
	-fx-background-color: white;
}

.choice-box .menu-item:focused { 
	-fx-background-color: #d5d6d4;
}

.choice-box .menu-item > .label { 
	-fx-text-fill: black;
}